[submodule "dependencies/utest.h"]
	path = dependencies/utest.h
	url = https://github.com/sheredom/utest.h.git
[submodule "dependencies/stb"]
	path = dependencies/stb
	url = https://github.com/nothings/stb.git
